{% extends 'layout.html' %}
{% block title %}
	Search
{% endblock %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="/static/pokeball.ico">
{% endblock %}
{% block body %}
	<form action="/search">
		<div class="d-flex align-items-center justify-content-center my-6">
			<input type="text" class="form-control" style="width:35%;display:inline;" list="pokemons" name="pokemon" autofocus autocomplete="off" placeholder = "Enter Pokemon's name or number">
			<datalist id="pokemons" style="height:50px;overflow:auto;">
				{% for pokename in pokelist %}
				<option value="{{ pokename["name"] | name }}">{{ pokename["name"] | name }}</option>
				{% endfor %}
			</datalist>
			<button class="btn btn-light mx-2" type="submit">Search</button>
	</form>
	<form action="/random">
		<button class="btn btn-light m-2" type="submit">Random</button>
	</form>
	</div>
{% endblock %}
