{% extends 'layout.html' %}
{% block title %}
	{{ pokedata["name"] | name }}
{% endblock %}
{% block favicon %}
	<link rel="icon" type="image/png" href="{{ pokedata.favicon }}">
{% endblock %}
{% block body %}
		<form action="/search">
			<div class="d-flex align-items-center justify-content-center my-6">
			<input type="text" class="form-control" style="width:35%;display:inline;" list="pokemons" name="pokemon" autofocus autocomplete="off" placeholder = "Enter Pokemon's name or number">
			<datalist id="pokemons" style="height:50px;overflow:auto;">
			{% for pokename in pokelist %}
				<option value="{{ pokename["name"] | name }}">{{ pokename["name"] | name }}</option>
			{% endfor %}
			</datalist>
			<button class="btn btn-light mx-2" type="submit">Search</button>
		</form>
		<form action="/random" method="post">
			<button class="btn btn-light my-2 mx-0" type="submit">Random</button>
		</form>
	</div>
	<div class="row">
		<div class="col-sm">
			<center>
			<img src="{{ pokedata.sprite }}" alt="{{ pokedata.name | name }}" style="width:100%;height:auto">
			</center>
		</div>
		<div class="col-sm p-5">
			<b>Name</b> : {{ pokedata.name | name }}<br>
			<b>Number</b> : {{ pokedata.number }}<br>
			<b>Pokemon's Rank</b> : {{ pokedata.rank | name }}<br>
			<b>Pokemon's Generation</b> : {{ pokedata.generation }}<br>
			<b>Type</b> : {{ pokedata.types }}<br>
			<b>Height</b> : {{ pokedata.height | height }}<br>
			<b>Weight</b> : {{ pokedata.weight | weight }}<br>
		</div>
		<div class="row container-fluid1">
			<div style="display: inline;">
				{% if pokedata.evolves_from == "nothing" %}
					<b>Pokemon evolves from nothing</b><br>
				{% else %}
					<b>Pokemon evolves from </b>: <a href="/search?pokemon={{ pokedata.evolves_from }}">{{ pokedata.evolves_from | name }}</a><br>
				{% endif %}
			</div>
			<div style="display: inline;">
				{% if not pokedata.evolves_into %}
					<b>This pokemon doesnot evovle</b>
				{% else %}
					<b>This pokemon can evolve</b> :
					<ul class="list-inline">
						{% for pokemon in pokedata.evolves_into %}
							<li class="list-inline-item"><a href="/search?pokemon={{ pokemon }}">{{ pokemon | name }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="row container-fluid1">
			<h1><b>Description</b></h1>
			<p>{{ pokedata.desc }}</p>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		
		<center><h1>Pokemon's Stats</h1></center>
		<canvas id="chartId" aria-label="chart" height="350" width="580"></canvas>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
		<script>
		var chrt = document.getElementById("chartId").getContext("2d");
		var chartId = new Chart(chrt, {
		type: 'radar',
		data: {
		labels: ["HP", "Attack", "Defense", "Speed", "Sp. Def", "Sp. Atk"],
		datasets: [{
		label: "Stat Value",
		data: [{{ pokedata.hp | safe }}, {{ pokedata.atk | safe }},{{ pokedata.def | safe }},{{ pokedata.speed | safe }},{{ pokedata.spdef | safe }}, {{ pokedata.spatk | safe }}],
		backgroundColor: ['lightgrey'],
		pointBackgroundColor: ['yellow', 'aqua', 'pink', 'lightgreen', 'lightblue', 'brown'],
		borderColor: ['black'],
		borderWidth: 1,
		pointRadius: 6,
		}],
		},
		options: {
		responsive: true,
		elements: {
		line: {
		borderWidth: 3
		}
		}
		},
		});
		</script>
		<div class="row container-fluid1">
			<center><h1><b>Abilities : </b></h1></center>
			<dl>
				{% for ability in pokedata.abilities %}
					<dt>Name : {{ ability["name"] | name }}</dt>
					<dt>Is it hidden : {{ ability["is_hidden"] }}</dt>
					<dd>{{ ability["desc"] }}</dd>
				{% endfor %}
			</dl>
		</div>
			{% if pokedata.number != 1 %}
			<div class="d-flex align-items-center justify-content-between my-6">
			<div>
				<form action="/search">
					<input type="hidden" name="pokemon" value="{{ pokedata.number - 1 }}">
					<button class="btn btn-secondary mx-2" type="submit">Prev</button>
				</form>
			</div>
			{% else %}
			<div class="d-flex align-items-center justify-content-end my-6">
			{% endif %}
			{% if pokedata.number != maxlength %}
			<div>
				<form action="/search">
					<input type="hidden" name="pokemon" value="{{ pokedata.number + 1 }}">
					<button class="btn btn-secondary mx-2" type="submit">Next</button>
				</form>				
			</div>		
			{% endif %}
	</div>
{% endblock %}
